

/* Tried css gen, not really working */
/* .container-fluid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 1px solid black;
}

.nav-bar { 
    grid-area: 1 / 1 / 2 / 6; 
    border: 1px solid black
}
.movies-container { 
    grid-area: 2 / 1 / 5 / 5; 
    border: 1px solid black;}
.watchlist { 
    grid-area: 2 / 5 / 5 / 6; 
    border: 1px solid black;} */

/* -------------------------------- */

/* Page view sections */
@font-face {
    font-family: headerFont;
    src: url(../fonts/parklane.ttf);
}

div.card {
    /* height: 150px;
    width: 250px; */
    /* box-shadow: 10px 10px grey; */
    padding: 20px;
    /* border-radius: 10px; */
}

body {
    background: #000000 url(../images/background.jpg) no-repeat center top;
    background-size: cover;
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main watchlist"
        ;
        
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 500px 1fr; */
    row-gap: 10px;
    column-gap: 15px;

    font-family: headerFont;
    font-size: 30px;
}

header {
    color: white;
    grid-area: header;
    border: 2px solid red;
}

h1 {
    display: inline;
    margin: 10px;
    margin-top: 10px;
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

main {
    grid-area: main;
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    /* border: 2px solid blue; */
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    height: 80vh;

    font-family: 'Mina', sans-serif;
    font-size: 20px;
}

.nav-bar {
    color: white;
    grid-area: nav;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75);
    /* border: 2px solid green; */
    text-align: center;
    position: relative;
    display: inline-block
}

.watchlist {
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75);
    grid-area: watchlist;
    display: block;
    color: white;
    /* border: 2px solid orange; */
    max-height: 100%;
}

.watchlist li {
    font-family: 'Mina', sans-serif;
    font-size: 20px; 
}

.poster {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    height: auto;  
    box-shadow: 0px 10px 36px 2px rgba(110,110,110,1);
    transition: transform 1s, box-shadow 0.5s;
    
}

.poster:hover {
    transform: scale(1.1); 
    box-shadow: 0px 10px 36px 2px rgba(255,255,255,1);
}

.poster:active {
    transform: scale(0.8);
    box-shadow: 0px 10px 36px 2px rgba(242,255,0,1);
}

.selectedMov {
    display: inline-block;
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: black;
    box-shadow: 0px 10px 36px 2px rgba(110,110,110,1);
    width: 80%;
    margin: auto;
    animation-name: load-movie;
    animation-duration: 1s;
    position: relative;
}

@keyframes load-movie {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.big-poster {
    display: block;
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    float: left;
    padding: 10px;
}

.empty {
    width: 0px;
    height: 0px;
}

.login-button {
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin: 10px;
}

.login-button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.login-button:active {
	position:relative;
	top:1px;
}

button {
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin: 10px;
}

button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

button:active {
	position:relative;
	top:1px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.search-div {
    float: left;
    /* display:inline-block; */
    margin-top: 12px;
}

.login-div {
    float: right;
    /* display:inline-block; */
    margin-top: 12px;
}

.header-div {
    float: none;
    display: inline-block;
}

/* OLD BUTTON CODE, MIGHT NEED TO UNCOMMENT */
/* .back-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 200px 200px 200px 200px;
} */

/* .edit-btn {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin: 10px;
}
.edit-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.edit-btn:active {
	position:relative;
	top:1px;
}

.delete-btn {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin: 10px;
}
.delete-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.delete-btn:active {
	position:relative;
	top:1px;
} */

/* .watched-button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin: 10px;
}

.want-button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 10px;
} */